<div class="panel panel-primary"> 
	<div class="panel-heading"> 
		<h3 class="panel-title">Case</h3>
	</div> 
	<div class="panel-body"> 
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">Case ID</div>
				<div class="col-md-6">{{caseId}}</div>
			</div>
			<div class="row">
				<div class="col-md-6">Case Type</div>
				<div class="col-md-6">{{caseType}}</div>
			</div>
			<div class="row">
				<div class="col-md-6">Date</div>
				<div class="col-md-6">{{date}}</div>
			</div>
		</div>
	</div> 
</div>