<h1>ALT-MS</h1>
<b>Accenture's Link Tracker Micro-Service</b>
<hr>
<button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Click here to see the project description</button>

<div id="demo" class="collapse">
<p>
	<br>
	Welcome to <b>ALT-MS, Accenture's Link Tracker Micro-Service</b>, a micro-service to define and query.
	<br>
	Our graph database (Neo4J) creates and stores relationships between nodes (Persons). Users of the application (case workers, data analysts) can
	use this information to find relationships that might be hidden in the data.
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-12">Team Valkyrie greets you.</div>
		</div>
		<div class="row">
			<div class="col-md-12"><img class="home-image" src="img/RideOf Valkyries.jpg"/></div>
		</div>
	</div>
</p>
</div>

<hr/>
<h2>Search for a person</h2>

<p>
	Please feel free to search for a person and select it to see his/her relationships to other persons.
	<br>
	<b>(Hint: Search for "Donald")</b>
</p>


Show All: <input type="checkbox" aria-label="..." ng-model="showAll">

<div class="input-group">
    <input type="search" class="form-control" placeholder="Search for..."  ng-model="query['name']">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Go!</button>
  </span>
</div><!-- /input-group -->

<div class="search-result">
	<ul ng-show="query['name']!=='' || showAll">
	    <li ng-repeat="person in persons | filter:query">
	        <a ui-sref="relationshipState({ personId: person.id })">{{person.name}}</a>
	    </li>
	</ul>
</div>
<hr>

